<!-- we can just uncomment the required thing and we can learn about that part only-->

<!-- <app-interpolation></app-interpolation> -->

<!-- <app-property-and-event-binding></app-property-and-event-binding> -->

<app-two-way-data-binding></app-two-way-data-binding>

<!-- <app-directives></app-directives> -->

<!-- <app-pipes></app-pipes> -->

<!-- <app-child-parent-transfer [nameInChild]='Users[0].nameInParent' [age]="Users[0].age" [status]="Users[0].status" [hobby]="Users[0].hobby"></app-child-parent-transfer>
<app-child-parent-transfer [nameInChild]='Users[1].nameInParent' [age]="Users[1].age" [status]="Users[1].status" [hobby]="Users[1].hobby"></app-child-parent-transfer>
<app-child-parent-transfer [nameInChild]='Users[2].nameInParent' [age]="Users[2].age" [status]="Users[2].status" [hobby]="Users[2].hobby"></app-child-parent-transfer> -->

<!-- <app-child-parent-transfer *ngFor="let user of Users" [nameInChild]='user.nameInParent' [age]="user.age" [status]="user.status" [hobby]="user.hobby" (myEvent)="displayinConsole($event)"></app-child-parent-transfer> -->

<!-- <app-content-projection appHighlight >
  <h2 appHighlight > This is content projection.{{content_projection}}</h2>
  <h3>This is multi content projecttion.</h3>
  <input title="something" type="text" [(ngModel)]="content_projection"/>
</app-content-projection> -->

<!-- <app-lifecyle-hooks  *ngIf="property1"></app-lifecyle-hooks>
<button title="lifecycle hook" class="btn red" (click)="property1=!property1">click to change</button> -->

<!-- <h1>{{PipeVar | ing}}</h1> -->
